
[submodule "extern/CommonLibSSE"]
	path = extern/CommonLibSSE
	url = https://github.com/powerof3/CommonLibSSE.git
[submodule "extern/CommonLibVR"]
	path = extern/CommonLibVR
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "extern/AddressLibraryDatabase"]
	path = extern/AddressLibraryDatabase
	url = https://github.com/meh321/AddressLibraryDatabase
[submodule "extern/CommonLibF4"]
	path = extern/CommonLibF4
	url = https://github.com/libxse/commonlibf4.git
	branch = main
[submodule "extern/CommonLibSF"]
	path = extern/CommonLibSF
	url = https://github.com/libxse/commonlibsf.git
	branch = main
[submodule "extern/xNVSE"]
	path = extern/xNVSE
	url = https://github.com/xNVSE/NVSE
